*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 468px;
    background: linear-gradient(135deg, #00befe, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 19px;
    padding: 39px 36px;
    text-align: center;

}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 11px 24px;
    height: 60px;
    border-radius: 29px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 25%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 36px;
    height: 36px;


}

.wheather-icon {
    width: 169px;
    margin-top: 30px;
    
}

.wheather h1 {
    font-size: 80px;
    font-weight: 500;
}

.wheather h2 {
    font-size: 44px;
    font-weight: 399;
    margin-top: -10px;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 27px;
    margin-top: -5px;
}



.wheather {
    display: none;
}

.eror {
    text-align: left;
    margin-left: 11px;
    font-size: 13px;
    margin-top: 11px;
    display: none;
}